
<div class="container mt-3">
  <h2>pepole list</h2><br>
  <button type="button" class="btn btn-primary mb-3">Add</button>            
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Username</th>
        <th>phone</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{index[0]}}</td>
        <td>{{Name[0]}}</td>
        <td>{{Username[0]}}</td>
        <td>{{phone[0]}}</td>
        <button type="button" class="btn bg-primary m-2 text-white">Details</button>
        <button type="button" class="btn bg-danger m-2 text-white">Delet</button>
        <button type="button" class="btn bg-warning m-2">Update</button>
      </tr>
      <tr>
        <td>{{index[1]}}</td>
        <td>{{Name[1]}}</td>
        <td>{{Username[1]}}</td>
        <td>{{phone[1]}}</td>
        <button type="button" class="btn bg-primary m-2 text-white">Details</button>
        <button type="button" class="btn bg-danger m-2 text-white">Delet</button>
        <button type="button" class="btn bg-warning m-2">Update</button>
      </tr>
      <tr>
        <td>{{index[2]}}</td>
        <td>{{Name[2]}}</td>
        <td>{{Username[2]}}</td>
        <td>{{phone[2]}}</td>
        <button type="button" class="btn bg-primary m-2 text-white">Details</button>
        <button type="button" class="btn bg-danger m-2 text-white">Delet</button>
        <button type="button" class="btn bg-warning m-2">Update</button>
      </tr>
    </tbody>
  </table>
</div>